.h1 {
    font-size: var(--h1);
    line-height: var(--line-height-120);
    font-weight: 700;
}

.h2 {
    font-size: var(--h2);
    line-height: var(--line-height-120);
    font-weight: 700;
}

.h3 {
    font-size: var(--h3);
    line-height: var(--line-height-130);
    font-weight: 600;
}

.h4 {
    font-size: var(--h4);
    line-height: var(--line-height-130);
    font-weight: 600;
}

.h5 {
    font-size: var(--h5);
    line-height: var(--line-height-140);
    font-weight: 600;
}

.h6 {
    font-size: var(--h6);
    line-height: var(--line-height-140);
    font-weight: 500;
}

.p1 {
    font-size: var(--p1);
    line-height: var(--line-height-160);
    font-weight: 400;
}

.p2 {
    font-size: var(--p2);
    line-height: var(--line-height-150);
}

.p3 {
    font-size: var(--p3);
    line-height: var(--line-height-150);
}

.p4 {
    font-size: var(--p4);
    line-height: var(--line-height-140);
}

.p5 {
    font-size: var(--p5);
    line-height: var(--line-height-140);
}

.p6 {
    font-size: var(--p6);
    line-height: var(--line-height-130);
}

.font-input {
    font-size: var(--font-input);
    line-height: var(--line-height-140);
}

.font-button-x-large {
    font-size: var(--font-button-x-large);
    line-height: var(--line-height-120);
}

.font-button-large {
    font-size: var(--font-button-large);
    line-height: var(--line-height-120);
}

.font-button-medium {
    font-size: var(--font-button-medium);
    line-height: var(--line-height-130);
}

.font-button-small {
    font-size: var(--font-button-small);
    line-height: var(--line-height-130);
}
